{% extends "layout.html" %}

{% block body %}
    <h1>Registro</h1>

    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" p´laceholder="Name" type="text">
        <select name="sport">
            <option disable selection value=" ">Sport</option>

            <option value="Flag Football">Flag Football</option>
            <option value="Soccer">Soccer</option>
            <option value="Volleyball">Volleyball</option>
            <option value="Frisbee">Frisbee</option>

        </select>
        <input type="submit" value="Register">

    </form>

{% endblock %}